<% ["start", "stop"].each do |event| %>
  <%
    event_name = event == "stop" ? "end_date" : "#{event}_date"
    error_id = nil
    there_are_errors = nil
  %>

  <% errors = capture do %>
    <% child.errors.each do |key, message| %>
      <% if key.to_s == event_name %>
        <%
          there_are_errors = true
          message[0] = message[0].capitalize
        %>
        <%= message %>
      <% end %>
    <% end %>
  <% end %>

  <% contents = capture do %>
    <div class="govuk-grid-row">
      <% [:day, :month, :year].each do |time_unit| %>
        <% error_id = "starting_children_#{index}_#{event}_#{time_unit}_error" if there_are_errors %>
        <div class="govuk-grid-column-one-third date-wrapper">
          <%= render "govuk_publishing_components/components/select", {
            id: "starting_children_#{index}_#{event}_#{time_unit}",
            name: "starting_children[#{index}][#{event}][#{time_unit}]",
            label: time_unit.capitalize,
            full_width: true,
            error_id: error_id,
            options: send("#{time_unit}_options", child ? child.send(event_name) : nil)
          } %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% legend_text = capture do %>
    <%= "#{event.capitalize}" %> date <span class="govuk-visually-hidden">for child <span class="js-child-number"><%= "#{index + 1}" %></span></span>
    <%= "(optional)" if event == "stop" %>
  <% end %>

  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: legend_text,
    error_message: errors,
    error_id: error_id,
    text: contents
  } %>
<% end %>
