<% content_for :title, "Child Benefit tax calculator" %>
<% content_for :body_classes, "full-width" %>

<main id="content" role="main" class="group calculator-page">
  <header class="page-header group">
    <div>
      <h1>Child Benefit tax calculator</h1>
    </div>
  </header>
  <div>
    <article role="article">
      <%= form_tag("process_form", :method => :get, :id => "child_benefit_tax_calculator", :class => "calculator") do %>
        <!-- hidden field to store the tax year so it can persist -->
        <input type="hidden" name="year" value="<%= params[:year] %>" />

        <% if @calculator.has_errors? -%>
          <div role="group" aria-labelledby="errorHeading" tabindex="-1" class="validation-summary">
            <h2 id="errorHeading">Please check the form</h2>
            <ul>
              <%# TODO: This could be tidied up into a model or helper method %>
              <% @calculator.starting_children.map(&:errors).map(&:messages).map(&:values).flatten.uniq.each do |message| -%>
                <li><a href="#children"><%= message %></a></li>
              <% end -%>
              <% @calculator.errors.each do |key, message| -%>
                <li><a href="#tax-year"><%= message %></a></li>
              <% end -%>
            </ul>
          </div>
        <% end -%>

        <fieldset>
          <%= step(1, "Enter the number of children Child Benefit is claimed for:") %>
          <label for="children_count" class="visuallyhidden">Number of children</label>
          <%= select_tag "children_count", options_for_select((1..10).collect{|n| [n,n]}, @calculator.children_count) %>
          <%= submit_tag "Update", :name => "children", :class => "button update-button" %>
        </fieldset>

        <fieldset id="children">
          <%= step(2, "Enter the Child Benefit start and stop dates:") %>
          <ul>
            <li>the start date is usually when you have a baby, adopt or move in with a new partner and their children</li>
            <li>the stop date is usually when a child turns 16 or leaves full-time education</li>
          </ul>
          <%= render "starting_children" %>
        </fieldset>

        <fieldset id="tax-year">
          <%= step(3, "Choose a tax year:") %>
          <p>Tax years run from 6 April to 5 April the following year.</p>
          <div class="tax-year<% if @calculator.errors.has_key?(:tax_year) %> validation-error<% end %>">
            <% @calculator.errors[:tax_year].each do |message| %>
              <p><%= message %></p>
            <% end -%>
            <% ChildBenefitTaxCalculator::TAX_YEARS.keys.each do |year| -%>
              <label for="year_<%= year %>" class="selectable">
                <%= radio_button_tag "year", year, (@calculator.tax_year == year.to_i) %>
                <%= tax_year_label(year) %>
              </label>
            <% end -%>
          </div>
        </fieldset>

        <fieldset id="adjusted_income">
          <%= step(4, "Enter income details for the tax year (optional):") %>
          <ul>
            <li>don’t combine your household income</li>
            <li>use your partner’s income if it’s higher than yours</li>
            <li>you may get some of this information from your P60, P11D, employer or tax adviser</li>
          </ul>
          <%= label_tag "gross_income", "Salary before tax" %>
          <%= money_input "gross_income", @adjusted_net_income_calculator.gross_income, 'aria-describedby' => 'step-4-description' %>
          <%= label_tag "other_income", "Other employment income - eg taxable benefits (like a company car or medical insurance), bonuses" %>
          <%= money_input "other_income", @adjusted_net_income_calculator.other_income, 'aria-describedby' => 'step-4-description' %>
          <%= label_tag "pension_contributions_from_pay", "Pension contributions deducted from your pay" %>
          <%= money_input "pension_contributions_from_pay", @adjusted_net_income_calculator.pension_contributions_from_pay, 'aria-describedby' => 'step-4-description' %>
          <%= label_tag "retirement_annuities", "Retirement annuity contracts" %>
          <%= money_input "retirement_annuities", @adjusted_net_income_calculator.retirement_annuities, 'aria-describedby' => 'step-4-description' %>
          <%= label_tag "cycle_scheme", "Cycle scheme" %>
          <%= money_input "cycle_scheme", @adjusted_net_income_calculator.cycle_scheme, 'aria-describedby' => 'step-4-description' %>
          <%= label_tag "childcare", "Childcare paid directly by your employer - eg childcare vouchers (for the whole year but no more than £55 a week), the value of any workplace nursery places" %>
          <%= money_input "childcare", @adjusted_net_income_calculator.childcare, 'aria-describedby' => 'step-4-description' %>
          <%= label_tag "pensions", "Income from pension(s) - eg from a state pension" %>
          <%= money_input "pensions", @adjusted_net_income_calculator.pensions, 'aria-describedby' => 'step-4-description' %>
          <%= label_tag "property", "Income from property - eg rental income" %>
          <%= money_input "property", @adjusted_net_income_calculator.property, 'aria-describedby' => 'step-4-description' %>
          <%= label_tag "non_employment_income", "Other income before tax - eg profits from self-employment, taxable savings, dividends" %>
          <%= money_input "non_employment_income", @adjusted_net_income_calculator.non_employment_income, 'aria-describedby' => 'step-4-description' %>
          <%= label_tag "gift_aid_donations", "Gift Aid donations" %>
          <%= money_input "gift_aid_donations", @adjusted_net_income_calculator.gift_aid_donations, 'aria-describedby' => 'step-4-description' %>
          <%= label_tag "outgoing_pension_contributions", "Pension contributions not paid from your salary" %>
          <%= money_input "outgoing_pension_contributions", @adjusted_net_income_calculator.outgoing_pension_contributions, 'aria-describedby' => 'step-4-description' %>
        </fieldset>

        <%= submit_tag "Calculate", :name => "results", :class => "button" %>
      <% end %>

      <% if can_haz_results? -%>
      <div class="results">
        <h2 id="results" tabindex="0">Results</h2>
        <%= render "results" %>
      </div><!-- end .inner -->
      <% end -%>
    </article>
    <div id="report-a-problem"></div>
  </div>
</main>
