<% content_for :title, "Estimate your High Income Child Benefit Tax Charge" %>
<% content_for :wrapper_classes, "answer" %>

<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup class="full-width">
    <h1><span>Quick answer</span> Estimate your High Income Child Benefit Tax Charge for <%= params[:year].to_s %> to <%= params[:year].to_i + 1 %></h1>
    </hgroup>
    <a class="skip-to-related" href="#related">Not what you're looking for? ↓</a>
  </header>
  <div class="calculator-container full-width group" id="calculator">
    <div class="calculator-questions">
      <%= form_tag("main") do %>
        <!-- hidden field to store the tax year so it can persist -->
        <input type="hidden" name="year" value="<%= params[:year] %>" />
        <fieldset>
          <h2><span class="steps" id="step-1"><span class="visuallyhidden">Step </span>1 </span>Adjusted net income</h2>
          <p class="group" id="adjusted-income">
            <label for="total-annual-income-before-tax">Total annual income before tax</label>
            <input id="total-annual-income-before-tax" type="text" class="income" value="<%= params[:total_annual_income] %>" name="total_annual_income" >
          </p>
          <p>If you don't know your adjusted net income, you can fill out the four fields below:</p>
          <p id="uknown-income" class="group">
            <label for="gross-pension-contributions">Gross pension contributions</label>
            <input id="gross-pension-contributions" type="text" class="income" value="<%= params[:gross_pension_contributons] %>" name="gross_pension_contributons" placeholder="&pound;">
          </p>
          <p class="group">
            <label for="net-pension-contributions">Net pension contributions</label>
            <input id="net-pension-contributions" type="text" class="income" value="<%= params[:net_pension_contributions] %>" name="net_pension_contributions" placeholder="&pound;">
          </p>
          <p class="group">
            <label for="trading-losses-if-youre-self-employed">Trading losses if you're self-employed</label>
            <input  id="trading-losses-if-youre-self-employed" type="text" class="income" value="<%= params[:trading_losses_self_employed] %>" name="trading_losses_self_employed" placeholder="&pound;">
          </p>
          <p class="group">
            <label for="gift-aid-donations">Gift Aid donations</label>
            <input type="text" id="gift-aid-donations" class="income" value="<%= params[:gift_aid_donations] %>" name="gift_aid_donations" placeholder="&pound;">
          </p>
        </fieldset>
        <fieldset>
          <h2><span class="steps" id="step-2" ><span class="visuallyhidden">Step </span>2 </span>Number of children you're claiming for</h2>
          <p class="group" id="children-claim">
            <label for="children">How many children will you or your partner be getting paid Child Benefit for from %{tax_year_start}?</label>
            <input type="text" id="children" class="children" name="children_count" value="<%= params[:children_count] %>">
          </p>
        </fieldset>

        <fieldset>
          <h2><span class="steps" id="step-3"><span class="visuallyhidden">Step </span>3 </span>Are you planning on claiming for any new children this year?</h2>

          <% if @calculator %>
            <% @calculator.starting_children.each_with_index do |child, index| %>
              <%= render "partials/add_new_child", :child => child, :number => index + 1 %>
            <% end %>
          <% end %>
          <% if @show_new_child_form %>
            <%= render "partials/add_new_child", :number => @calculator.starting_children.size + 1 %>
          <% end %>
          <%= submit_tag("Add a new starting child") %>
        </fieldset>

        <fieldset>
          <h2><span class="steps" id="step-4"><span class="visuallyhidden">Step </span>4 </span>Are you claiming for any children who will become ineligible this year?</h2>

          <% if @calculator %>
            <% @calculator.stopping_children.each_with_index do |child, index| %>
              <%= render "partials/add_new_stopping_child", :child => child, :number => index + 1 %>
            <% end %>
          <% end %>
          <% if @show_old_child_form %>
            <%= render "partials/add_new_stopping_child", :number => @calculator.stopping_children.size + 1 %>
          <% end %>
          <%= submit_tag("Add a new stopping child") %>
        </fieldset>
        <%= submit_tag("Go") %>
      <% end %>
    </div>
    <div class="calculator-results">
      <h3>Results</h3>
      <% if @calculator %>
        <p>You owe <%= number_to_currency @calculator.owed, unit: "£", precision: 0 %></p>
      <% end %>
      <%= @calculator.inspect if @calculator %>
    </div>
  </div>
</section>
