<% content_for :title, "Child Benefit tax calculator" %>

<%= render 'govuk_publishing_components/components/title', title: "Child Benefit tax calculator" %>

<div class="grid-row">
  <article role="article" class="column-two-thirds">
    <%= form_tag("main/process_form", method: :get, id: "child_benefit_tax_calculator", class: "calculator-form") do %>
      <%# hidden field to store the tax year so it can persist %>
      <input type="hidden" name="year" value="<%= params[:year] %>" />

      <% if @calculator.has_errors? -%>
        <% specific_errors = capture do %>
          <ul class="govuk-list govuk-list--bullet">
            <%# TODO: This could be tidied up into a model or helper method %>
            <% @calculator.starting_children.map(&:errors).map(&:messages).map(&:values).flatten.uniq.each do |message| %>
              <li><a href="#children_heading" class="error-summary-item govuk-link"><%= message %></a></li>
            <% end %>
            <% @calculator.errors.each do |key, message| %>
              <li><a href="#<%= key %>" class="error-summary-item govuk-link"><%= message %></a></li>
            <% end %>
          </ul>
        <% end %>

        <%= render "govuk_publishing_components/components/error_alert", {
          message: "Please check the form",
          description: specific_errors
        } %>
      <% end -%>

      <div class="question-wrapper">
        <% question_one = capture do %>
          <%= render "govuk_publishing_components/components/select", {
            id: "children_count",
            label: "Number of children",
            full_width: true,
            options: children_select_options(@calculator.children_count)
          } %>
          <div class="js-hidden">
            <%= render "govuk_publishing_components/components/button", {
              text: "Update",
              name: "children"
            } %>
          </div>
        <% end %>

        <%= render "govuk_publishing_components/components/fieldset", {
          legend_text: step(1, "How many children do you want to claim Child Benefit for?"),
          heading_size: "m",
          text: question_one
        } %>
      </div>

      <div class="question-wrapper" id="tax_year">
        <% question_two_errors = capture do %>
          <% @calculator.errors[:tax_year].each do |message| %>
            <%= message.capitalize %>
          <% end %>
        <% end %>

        <%= render "govuk_publishing_components/components/radio", {
          name: "year",
          id_prefix: "year",
          error_message: question_two_errors,
          heading: step(2, "Which tax year are you claiming for?"),
          hint: "Tax years run from 6 April to 5 April the following year.",
          items: q2_radio_options
        } %>
      </div>

      <div class="question-wrapper" id="is_part_year_claim">
        <% question_three_errors = capture do %>
          <% @calculator.errors[:is_part_year_claim].each do |message| %>
            <%= message.capitalize %>
          <% end -%>
        <% end %>

        <%= render "govuk_publishing_components/components/radio", {
          name: "is_part_year_claim",
          id_prefix: "is_part_year_claim",
          error_message: question_three_errors,
          heading: step(3, "Are you claiming for only a part of the tax year for any of your children?"),
          items: q3_radio_options
        } %>
      </div>

      <div class="question-wrapper">
        <% question_four = capture do %>
          <ul id="step-4-description" class="govuk-list govuk-list--bullet">
            <li>don’t combine your household income</li>
            <li>use your partner’s income if it’s higher than yours</li>
            <li>you can get some of this information from your P60, P11D, employer or tax adviser</li>
          </ul>

          <%= render "money_input", :label => "Salary before tax (with pension contributions deducted)", :id => "gross_income", :value => @adjusted_net_income_calculator.gross_income, :describedby => "step-4-description" %>

          <%= render "money_input", :label => "Other employment income - for example bonuses", :id => "other_income", :value => @adjusted_net_income_calculator.other_income, :describedby => "step-4-description" %>

          <%= render "money_input", :label => "Taxable benefits provided by your employer - for example the value of any medical insurance, company car, or anything else included on your P11D", :id => "childcare", :value => @adjusted_net_income_calculator.childcare, :describedby => "step-4-description" %>

          <%= render "money_input", :label => "Income from pension(s) before tax - for example from a state pension", :id => "pensions", :value => @adjusted_net_income_calculator.pensions, :describedby => "step-4-description" %>

          <%= render "money_input", :label => "Other income before tax - for example profits from self-employment, taxable savings, dividends", :id => "non_employment_income", :value => @adjusted_net_income_calculator.non_employment_income, :describedby => "step-4-description" %>

          <%= render "money_input", :label => "Income from property before tax - for example rental income", :id => "property", :value => @adjusted_net_income_calculator.property, :describedby => "step-4-description" %>
        <% end %>

        <%= render "govuk_publishing_components/components/fieldset", {
          legend_text: step(4, "Enter your income details for the tax year:"),
          heading_size: "m",
          text: question_four
        } %>
      </div>

      <div class="question-wrapper">
        <% question_five = capture do %>
          <%= render "money_input", :label => "Pension contributions deducted from your pay (don't include contributions deducted before tax)", :id => "pension_contributions_from_pay", :value => @adjusted_net_income_calculator.pension_contributions_from_pay, :describedby => nil %>

          <%= render "money_input", :label => "Pension contributions not paid from your salary (the amount you actually paid, not the grossed-up amount)", :id => "outgoing_pension_contributions", :value => @adjusted_net_income_calculator.outgoing_pension_contributions, :describedby => nil %>

          <%= render "money_input", :label => "Retirement annuity contracts", :id => "retirement_annuities", :value => @adjusted_net_income_calculator.retirement_annuities, :describedby => nil %>

          <%= render "money_input", :label => "Cycle scheme", :id => "cycle_scheme", :value => @adjusted_net_income_calculator.cycle_scheme, :describedby => nil %>

          <%= render "money_input", :label => "Gift Aid donations", :id => "gift_aid_donations", :value => @adjusted_net_income_calculator.gift_aid_donations, :describedby => nil %>
        <% end %>

        <%= render "govuk_publishing_components/components/fieldset", {
          legend_text: step(5, "Enter details of any allowable deductions (optional):"),
          heading_size: "m",
          text: question_five
        } %>
      </div>

      <%= render "govuk_publishing_components/components/button", {
        text: "Calculate",
        value: "Calculate",
        name: "results"
      } %>
    <% end %>

    <% if can_haz_results? %>
    <div class="results">
      <h2 id="results" class="results-heading">
        Results
      </h2>
      <%= render "results" %>
    </div>
    <% end %>
  </article>
</div>
