<% content_for :title, "Child Benefit tax calculator" %>

<%= render 'govuk_publishing_components/components/title', title: "Child Benefit tax calculator" %>

<div class="govuk-grid-row">
  <article role="article" class="govuk-grid-column-two-thirds">
    <%= form_tag("main/process_form", method: :get, id: "child_benefit_tax_calculator", class: "calculator-form") do %>
      <%# hidden field to store the tax year so it can persist %>
      <input type="hidden" name="year" value="<%= params[:year] %>" />

      <% if @calculator.has_errors? -%>
        <%= render "govuk_publishing_components/components/error_summary", {
          title: "Please check the form",
          items: form_errors(@calculator)
        } %>
      <% end -%>

      <div class="question-wrapper">
        <% question_one = capture do %>
          <%= render "govuk_publishing_components/components/select", {
            id: "children_count",
            label: "Number of children",
            full_width: true,
            options: children_select_options(@calculator.children_count)
          } %>
          <div class="js-hidden">
            <%= render "govuk_publishing_components/components/button", {
              text: "Update",
              name: "children"
            } %>
          </div>
        <% end %>

        <%= render "govuk_publishing_components/components/fieldset", {
          legend_text: step(1, "How many children are you claiming Child Benefit for?"),
          heading_size: "m",
          text: question_one
        } %>
      </div>

      <div class="question-wrapper" id="tax_year">
        <% question_two_errors = capture do %>
          <% @calculator.errors[:tax_year].each do |message| %>
            <%= message.capitalize %>
          <% end %>
        <% end %>

        <%= render "govuk_publishing_components/components/radio", {
          name: "year",
          id_prefix: "year",
          error_message: question_two_errors,
          heading: step(2, "Which tax year are you claiming for?"),
          hint: "Tax years run from 6 April to 5 April the following year.",
          items: q2_radio_options(@calculator)
        } %>
      </div>

      <div class="question-wrapper" id="is_part_year_claim">
        <% question_three_errors = capture do %>
          <% @calculator.errors[:is_part_year_claim].each do |message| %>
            <%= message.capitalize %>
          <% end -%>
        <% end %>

        <%= render "govuk_publishing_components/components/radio", {
          name: "is_part_year_claim",
          id_prefix: "is_part_year_claim",
          error_message: question_three_errors,
          heading: step(3, "Are you claiming for only a part of the tax year for any of your children?"),
          items: q3_radio_options(@calculator)
        } %>
      </div>

      <div class="question-wrapper">
        <% question_four = capture do %>
          <p class="govuk-body">
            You can get some of this information from your P60, P11D, employer or tax adviser. If you're not sure what income to include,
            <a class="govuk-link" href="/government/organisations/hm-revenue-customs/contact/income-tax-enquiries-for-individuals-pensioners-and-employees">phone the Income Tax helpline</a>
            to find out if you have to pay the Child Benefit tax charge.
          </p>

          <p class="govuk-body">You must:</p>

          <ul id="step-4-description" class="govuk-list govuk-list--bullet">
            <li>use your partner’s income if it’s higher than yours</li>
            <li>not combine your household income</li>
          </ul>

          <%= render "money_input", :label => "Salary before tax (with pension contributions including under net pay arrangements deducted)", :id => "gross_income", :value => @adjusted_net_income_calculator.gross_income, :describedby => "step-4-description" %>

          <%= render "money_input", :label => "Other employment income - for example bonuses", :id => "other_income", :value => @adjusted_net_income_calculator.other_income, :describedby => "step-4-description" %>

          <%= render "money_input", :label => "Taxable benefits provided by your employer - for example the value of any medical insurance, company car, or anything else included on your P11D", :id => "childcare", :value => @adjusted_net_income_calculator.childcare, :describedby => "step-4-description" %>

          <%= render "money_input", :label => "Income from pension(s) before tax - for example from a state pension", :id => "pensions", :value => @adjusted_net_income_calculator.pensions, :describedby => "step-4-description" %>

          <%= render "money_input", :label => "Other income before tax - for example taxable profits from self-employment, taxable savings, dividends", :id => "non_employment_income", :value => @adjusted_net_income_calculator.non_employment_income, :describedby => "step-4-description" %>

          <%= render "money_input", :label => "Income from property before tax - for example taxable rental income", :id => "property", :value => @adjusted_net_income_calculator.property, :describedby => "step-4-description" %>
        <% end %>

        <%= render "govuk_publishing_components/components/fieldset", {
          legend_text: step(4, "Enter your income details for the tax year (optional):"),
          heading_size: "m",
          text: question_four
        } %>
      </div>

      <div class="question-wrapper">
        <% question_five = capture do %>
          <%= render "money_input", :label => "Pension contributions deducted from your pay (don't include contributions deducted before tax)", :id => "pension_contributions_from_pay", :value => @adjusted_net_income_calculator.pension_contributions_from_pay, :describedby => nil %>

          <%= render "money_input", :label => "Pension contributions not paid from your salary (the amount you actually paid, not the grossed-up amount)", :id => "outgoing_pension_contributions", :value => @adjusted_net_income_calculator.outgoing_pension_contributions, :describedby => nil %>

          <%= render "money_input", :label => "Retirement annuity contracts", :id => "retirement_annuities", :value => @adjusted_net_income_calculator.retirement_annuities, :describedby => nil %>

          <%= render "money_input", :label => "Cycle scheme", :id => "cycle_scheme", :value => @adjusted_net_income_calculator.cycle_scheme, :describedby => nil %>

          <%= render "money_input", :label => "Gift Aid donations", :id => "gift_aid_donations", :value => @adjusted_net_income_calculator.gift_aid_donations, :describedby => nil %>
        <% end %>

        <%= render "govuk_publishing_components/components/fieldset", {
          legend_text: step(5, "Enter details of any allowable deductions (optional):"),
          heading_size: "m",
          text: question_five
        } %>
      </div>

      <div class="question-wrapper">
        <%= render "govuk_publishing_components/components/button", {
          text: "Calculate",
          value: "Calculate",
          name: "results"
        } %>
      </div>
    <% end %>

    <% if can_haz_results?(@calculator) %>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <div class="results">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Results",
          id: "results",
          font_size: "xl",
          margin_bottom: 8,
        } %>
        <%= render "results" %>
      </div>
    <% end %>
  </article>
</div>
