<% content_for :title, "Child Benefit tax calculator" %>

<section id="content" role="main" class="group calculator-page">
  <header class="page-header group full-width">
    <div class="full-width">
    <h1><span>Quick answer</span> Child Benefit tax calculator</h1>
    </div>
    <a class="skip-to-related" href="#related">Not what you're looking for? ↓</a>
  </header>

  <article id="calculator" role="article">
    <section class="questions">
      <div class="inner">
        <%= form_tag("process_form", :method => :get, :id => "child_benefit_tax_calculator") do %>
          <!-- hidden field to store the tax year so it can persist -->
          <input type="hidden" name="year" value="<%= params[:year] %>" />
          <!-- hidden field to store if we're showing extra income or not -->
          <input type="hidden" name="show_extra_income" value="<%= show_extra_income? %>" />

          <fieldset>
            <%= step(1, "Enter the number of children you:") %>
            <ul>
              <li>are currently claiming for</li>
              <li>have claimed for in the past</li>
              <li>expect to claim for in the future</li>
            </ul>
            <%= select_tag "children_count", options_for_select((1..10).collect{|n| [n,n]}, @calculator.children_count) %>
            <%= submit_tag "Update", :name => "children", :class => "button update-button" %>
          </fieldset>

          <fieldset id="children">
            <%= step(2, "Enter the dates Child Benefit started and, if applicable, stopped.") %>
            <div class="application-notice info-notice">
            <p>Child Benefit usually starts when you have a baby, adopt or move in with a new partner and their children.</p>
            </div>
            <%= render "starting_children" %>
          </fieldset>

          <fieldset>
            <%= step(3, "To work out the Child Benefit received during a tax year, choose a tax year.") %>
            <div class="application-notice info-notice">
            <p>Tax years run from 6 April to 5 April the following year.</p>
            </div>
            <% ChildBenefitTaxCalculator::TAX_YEARS.each do |year, years| -%>
              <%= radio_button_tag "year", year, (@calculator.tax_year == year.to_i) %>&nbsp;<%= tax_year_label(years) %> 
            <% end -%>
          </fieldset>

          <fieldset id="adjusted_income">
            <%= step(4, "To work out the Child Benefit tax charge, enter your adjusted net income for the tax year. Otherwise, leave it blank.") %>
            <div class="application-notice info-notice">
              <p>Enter your income or your partner's – whoever has the highest.</p>
            </div>
            <%= text_field_tag "adjusted_net_income", number_to_currency(@calculator.adjusted_net_income, unit: "£", precision: 2), :placeholder => "£" %>
          </fieldset>

          <details>
            <summary>Help working out your adjusted net income</summary>
            <p>You can find some of this information from your P60, P11D, your employer or a tax adviser</p>
            <fieldset id="adjusted_net_income_calculator">
            <%= label_tag "gross_income", "Your salary" %> 
            <%= text_field_tag "gross_income", number_to_currency(@adjusted_net_income_calculator.gross_income, unit: "£", precision: 2), :placeholder => "£" %>
            <%= label_tag "other_income", "Other employment income" %> 
            <%= text_field_tag "other_income", number_to_currency(@adjusted_net_income_calculator.other_income, unit: "£", precision: 2), :placeholder => "£" %>
            <%= label_tag "pension_contributions_from_pay", "Pension contributions deducted from your pay" %> 
            <%= text_field_tag "pension_contributions_from_pay", number_to_currency(@adjusted_net_income_calculator.pension_contributions_from_pay, unit: "£", precision: 2), :placeholder => "£" %>
            <%= label_tag "retirement_annuities", "Retirement annuity contracts" %> 
            <%= text_field_tag "retirement_annuities", number_to_currency(@adjusted_net_income_calculator.retirement_annuities, unit: "£", precision: 2), :placeholder => "£" %>
            <%= label_tag "cycle_scheme", "Cycle scheme" %> 
            <%= text_field_tag "cycle_scheme", number_to_currency(@adjusted_net_income_calculator.cycle_scheme, unit: "£", precision: 2), :placeholder => "£" %>
            <%= label_tag "childcare", "Childcare" %> 
            <%= text_field_tag "childcare", number_to_currency(@adjusted_net_income_calculator.childcare, unit: "£", precision: 2), :placeholder => "£" %>
            <%= label_tag "pensions", "Pensions - eg from a state pension" %> 
            <%= text_field_tag "pensions", number_to_currency(@adjusted_net_income_calculator.pensions, unit: "£", precision: 2), :placeholder => "£" %>
            <%= label_tag "property", "Property - eg rental income" %> 
            <%= text_field_tag "property", number_to_currency(@adjusted_net_income_calculator.property, unit: "£", precision: 2), :placeholder => "£" %>
            <%= label_tag "non_employment_income", "Other income" %> 
            <%= text_field_tag "non_employment_income", number_to_currency(@adjusted_net_income_calculator.non_employment_income, unit: "£", precision: 2), :placeholder => "£" %>
            <%= label_tag "gift_aid_donations", "Gift Aid donations" %> 
            <%= text_field_tag "gift_aid_donations", number_to_currency(@adjusted_net_income_calculator.gift_aid_donations, unit: "£", precision: 2), :placeholder => "£" %>
            <%= label_tag "outgoing_pension_contributions", "Pension contributions not paid from your salary" %> 
            <%= text_field_tag "outgoing_pension_contributions", number_to_currency(@adjusted_net_income_calculator.outgoing_pension_contributions, unit: "£", precision: 2), :placeholder => "£" %>
            </fieldset>
          </details>

          <%= submit_tag("Get your estimate", :name => "results", :class => "button") %>
        <% end %>
      </div><!-- end .inner -->
    </section><!-- end .questions -->
    
    <% if @calculator.can_calculate? -%>
    <section class="results" id="results">
      <div class="inner">
        <h1>Results</h1>
        <%= render "results" %>
      </div><!-- end .inner -->
    </section>
    <% end -%>
  </article><!-- end .thirds -->
</section>
