<% content_for :title, "Child Benefit tax calculator" %>

<section id="content" role="main" class="group calculator-page">
  <header class="page-header group full-width">
    <div class="full-width">
    <h1><span>Quick answer</span> Child Benefit tax calculator</h1>
    </div>
    <a class="skip-to-related" href="#related">Not what you're looking for? ↓</a>
  </header>

  <article id="calculator" role="article">
    <section class="questions">
      <div class="inner">
        <%= form_tag("process_form", :method => :get, :id => "child_benefit_tax_calculator") do %>
          <!-- hidden field to store the tax year so it can persist -->
          <input type="hidden" name="year" value="<%= params[:year] %>" />

          <% if @calculator.has_errors? -%>
            <div class="validation-summary">
              <h1>Please check the form</h1>
              <ul>
                <% @calculator.errors.each do |key, message| -%>
                  <li><a href="#tax_year"><%= message %></a></li>
                <% end -%>
                <%# TODO: This could be tidied up into a model or helper method %>
                <% @calculator.starting_children.map(&:errors).map(&:messages).map(&:values).flatten.uniq.each do |message| -%> 
                  <li><a href="#children"><%= message %></a></li>
                <% end -%>
              </ul>
            </div>
          <% end -%>
          
          <fieldset>
            <%= step(1, "Enter the number of children you:") %>
            <ul>
              <li>are currently claiming for</li>
              <li>have claimed for in the past</li>
              <li>expect to claim for in the future</li>
            </ul>
            <%= select_tag "children_count", options_for_select((1..10).collect{|n| [n,n]}, @calculator.children_count) %>
            <%= submit_tag "Update", :name => "children", :class => "button update-button" %>
          </fieldset>

          <fieldset id="children">
            <%= step(2, "Enter the dates Child Benefit started and, if applicable, stopped.") %>
            <div class="application-notice info-notice">
            <p>Child Benefit usually starts when you have a baby, adopt or move in with a new partner and their children.</p>
            </div>
            <%= render "starting_children" %>
          </fieldset>

          <fieldset id="tax_year">
            <%= step(3, "To work out the Child Benefit received during a tax year, choose a tax year.") %>
            <div class="application-notice info-notice">
            <p>Tax years run from 6 April to 5 April the following year.</p>
            </div>
            <div<% if @calculator.errors.has_key?(:tax_year) %> class="validation-error"<% end %>>
              <% @calculator.errors[:tax_year].each do |message| %>
                <p><%= message %></p>
              <% end -%>
              <% ChildBenefitTaxCalculator::TAX_YEARS.each do |year, dates| -%>
                <%= radio_button_tag "year", year, (@calculator.tax_year == year.to_i) %>&nbsp;<%= tax_year_label(dates) %>
              <% end -%>
            </div>
          </fieldset>

          <fieldset id="adjusted_income">
            <%= step(4, "To work out the Child Benefit tax charge, enter your adjusted net income for the tax year. Otherwise, leave it blank.") %>
            <div class="application-notice info-notice">
              <p>Enter your income or your partner's – whoever has the highest.</p>
            </div>
            <%= money_input "adjusted_net_income", @calculator.adjusted_net_income %>
          </fieldset>

          <details>
            <summary>Help working out your adjusted net income</summary>
            <div class="application-notice info-notice">
            <p>You can find some of this information from your P60, P11D, your employer or a tax adviser</p>
          </div>
            <fieldset id="adjusted_net_income_calculator">
            <%= label_tag "gross_income", "Your salary" %> 
            <%= money_input "gross_income", @adjusted_net_income_calculator.gross_income %>
            <%= label_tag "other_income", "Other employment income" %> 
            <%= money_input "other_income", @adjusted_net_income_calculator.other_income %>
            <%= label_tag "pension_contributions_from_pay", "Pension contributions deducted from your pay" %> 
            <%= money_input "pension_contributions_from_pay", @adjusted_net_income_calculator.pension_contributions_from_pay %>
            <%= label_tag "retirement_annuities", "Retirement annuity contracts" %> 
            <%= money_input "retirement_annuities", @adjusted_net_income_calculator.retirement_annuities %>
            <%= label_tag "cycle_scheme", "Cycle scheme" %> 
            <%= money_input "cycle_scheme", @adjusted_net_income_calculator.cycle_scheme %>
            <%= label_tag "childcare", "Childcare" %> 
            <%= money_input "childcare", @adjusted_net_income_calculator.childcare %>
            <%= label_tag "pensions", "Pensions - eg from a state pension" %> 
            <%= money_input "pensions", @adjusted_net_income_calculator.pensions %>
            <%= label_tag "property", "Property - eg rental income" %> 
            <%= money_input "property", @adjusted_net_income_calculator.property %>
            <%= label_tag "non_employment_income", "Other income" %> 
            <%= money_input "non_employment_income", @adjusted_net_income_calculator.non_employment_income %>
            <%= label_tag "gift_aid_donations", "Gift Aid donations" %> 
            <%= money_input "gift_aid_donations", @adjusted_net_income_calculator.gift_aid_donations %>
            <%= label_tag "outgoing_pension_contributions", "Pension contributions not paid from your salary" %> 
            <%= money_input "outgoing_pension_contributions", @adjusted_net_income_calculator.outgoing_pension_contributions %>
            </fieldset>
          </details>

          <%= submit_tag("Get your estimate", :name => "results", :class => "button") %>
        <% end %>
      </div><!-- end .inner -->
    </section><!-- end .questions -->
    
    <% if @calculator.can_calculate? -%>
    <section class="results" id="results">
      <div class="inner">
        <h1>Results</h1>
        <%= render "results" %>
      </div><!-- end .inner -->
    </section>
    <% end -%>
  </article><!-- end .thirds -->
</section>
