<% content_for :title, "Child Benefit tax calculator" %>

<section id="content" role="main" class="group calculator-page">
  <header class="page-header group full-width">
    <div class="full-width">
    <h1><span>Quick answer</span> Child Benefit tax calculator</h1>
    </div>
    <a class="skip-to-related" href="#related">Not what you're looking for? ↓</a>
  </header>

  <article id="calculator" role="article">
    <section class="questions">
      <div class="inner">
        <%= form_tag("process_form", :method => :get) do %>
          <!-- hidden field to store the tax year so it can persist -->
          <input type="hidden" name="year" value="<%= params[:year] %>" />
          <!-- hidden field to store if we're showing extra income or not -->
          <input type="hidden" name="show_extra_income" value="<%= show_extra_income? %>" />

          <fieldset>
            <%= step(1, "Enter the number of children you:") %>
            <ul>
              <li>are currently claiming for</li>
              <li>have claimed for in the past</li>
              <li>expect to claim for in the future</li>
            </ul>
            <%= select_tag "children_count", options_for_select((1..10).collect{|n| [n,n]}, @calculator.children_count) %>
            <%= submit_tag "Update", :name => "children" %>
          </fieldset>

          <fieldset id="children">
            <%= step(2, "Enter the dates Child Benefit started and, if applicable, stopped.") %>
            <div class="application-notice info-notice">
            <p>Child Benefit usually starts when you have a baby, adopt or move in with a new partner and their children.</p>
            </div>
            <%= render "starting_children" %>
          </fieldset>

          <fieldset>
            <%= step(3, "To work out the Child benefit received during a tax year, choose a tax year.") %>
            <div class="application-notice info-notice">
            <p>Tax years run from 6 April until 5 April the following year.</p>
            </div>
            <% ChildBenefitTaxCalculator::TAX_YEARS.each do |year, years| -%>
              <%= radio_button_tag "year", year, (@calculator.tax_year == year.to_i) %>&nbsp;<%= tax_year_label(years) %> 
            <% end -%>
          </fieldset>

          <fieldset id="adjusted_income">
            <%= step(4, "To work out how much Child Benefit to pay back as tax, enter your adjusted net income for the tax year. Otherwise, leave it blank.") %>
            <div class="application-notice info-notice">
              <p>Enter yours or your partner’s income, whoever’s is higher</p>
            </div>
            <%= text_field_tag "adjusted_net_income", @calculator.adjusted_net_income, :placeholder => "£" %>
          </fieldset>

          <%= submit_tag("Get your estimate", :name => "results", :class => "button") %>
        <% end %>
      </div><!-- end .inner -->
    </section><!-- end .questions -->
    
    <% if @calculator.can_calculate? -%>
    <section class="results" id="results">
      <div class="inner">
        <h1>Results</h1>
        <%= render "results" %>
      </div><!-- end .inner -->
    </section>
    <% end -%>
  </article><!-- end .thirds -->
</section>
