<h2>Child <span class="child-number"><%= number %></span></h2>
<fieldset>
  <p class="group">
    <label>When did you start getting Child Benefit for a new child?</label>
    <%= select_date child.nil? ? @calculator.child_benefit_start_date : child.start_date, :prefix => "starting_children[#{number}][start]", :order => [:day, :month, :year], :end_year => @calculator.child_benefit_end_date.year, :start_year => @calculator.child_benefit_start_date.year %>

  </p>
  <p class="group">
    <label>When did you stop getting child benefit for thar child?</label>
    <%= select_date child.nil? || child.end_date.nil? ? @calculator.child_benefit_end_date : child.end_date, :prefix => "starting_children[#{number}][stop]", :order => [:day, :month, :year], :end_year => @calculator.child_benefit_end_date.year, :start_year => @calculator.child_benefit_start_date.year %>
  </p>
  <p class="group">
    <input type="checkbox" name="starting_children[<%= number %>][no_stop]" />
    <label>If you didn't stop getting benefit for that child before <%= @calculator.child_benefit_end_date %>, tick here.</label>
  </p>
</fieldset>
