<!-- show existing children here -->
<% @calculator.starting_children.each_with_index do |child, index| %>
  <h5>Child <%= index + 1 %></h5>
  <%= render "partials/child_benefit_tax/single_starting_child", :number => index, :child => child %>
<% end %>

<% if @calculator.starting_children.empty? || @show_new_child_form %>
  <h5>Child <%= @calculator.starting_children.size + 1 %></h5>
  <%= render "partials/child_benefit_tax/single_starting_child", :number => @calculator.starting_children.size, :child => nil%>
<% end %>

<%= submit_tag("Add another child", { :class => "button button-secondary" }) %>

