<% @calculator.stopping_children.each_with_index do |child, index| %>
  <h5>Child <%= index + 1 %></h5>
  <%= render "partials/child_benefit_tax/add_new_stopping_child", :child => child, :number => index %>
<% end %>

<% if @calculator.stopping_children.empty? || @show_old_child_form %>
  <h5>Child <%= @calculator.stopping_children.size + 1 %></h5>
  <%= render "partials/child_benefit_tax/add_new_stopping_child", :child => nil, :number => @calculator.stopping_children.size %>
<% end %>

<%= submit_tag("Add a new stopping child", { :class => "button button-secondary" }) %>
