<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= yield :title %> - GOV.UK</title>
    <%= stylesheet_link_tag "application.css" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "print.css", media: "print" %>
    <meta name="description" content="Work out the Child Benefit you've received and your High Income Child Benefit tax charge">
    <%= yield :head %>
    <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_item %>
    <% if @meta_section %>
      <meta name="govuk:section" content="<%= @meta_section %>">
    <% end %>
    <meta name="robots" content="noindex, nofollow">
  </head>

  <body>
    <div id="wrapper">
      <main role="main" id="content" class="calculator" lang="<%= I18n.locale %>">
        <%= yield %>
      </main>
      <%= render 'govuk_publishing_components/components/feedback' %>
    </div>
  </body>
</html>
