<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= yield :title %> - GOV.UK</title>
    <%= stylesheet_link_tag "application.css" %>
    <%= yield :head %>
  </head>

  <body class="mainstream <%= yield :body_classes %>">
    <div id="wrapper" class="<%= yield :wrapper_classes %>">
      <%= yield %>
    </div>
  </body>
</html>
