<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= yield :title %> - GOV.UK</title>
    <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application.css" %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag "application-ie6.css" %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "application-ie7.css" %><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "application-ie8.css" %><![endif]-->
    <%= javascript_include_tag "application" %>
    <meta name="description" content="Work out the Child Benefit you've received and your High Income Child Benefit tax charge">
    <%= yield :head %>
  </head>

  <body class="mainstream <%= yield :body_classes %>">
    <div id="wrapper" class="<%= yield :wrapper_classes %>">
      <%= yield %>
    </div>
  </body>
</html>
